<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${quiz}">
    <h2 th:case="null">No quiz found!</h2>
    <div th:case="*">
        <h2>Quiz</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Quiz name</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" name : ${quiz}">
                <td th:text="${name.id}"></td>
                <td th:text="${name.title}"></td>
                <td th:text="${name.comment}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>